SCREEPS_USERNAME=bkconrad
SCREEPS_EMAIL=notreally@myemail.com
SCREEPS_PASSWORD=definitelynotmypassword
SCREEPS_HOST=https://screeps.com
#SCREEPS_HOST=http://privateserver:21025
SCREEPS_SHARD=shard3
SCREEPS_MEMTYPE=memory
#SCREEPS_MEMTYPE=memory-segment
#SCREEPS_SEGMENT=1
SCREEPS_MEMPATH=stats